* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgb(227, 242, 255);
    color: rgb(7, 0, 6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    }
    
    .cabeçalho_imagem{
    width: 30%;
    }
    
    .cabeçalho_titulo{
    font-size: 60px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 20px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(183, 216, 247), #8d86e6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 40px;
    }

    .subtitulo{
        font-size: 30px;
    }
    
    .imagem-pimenta{
    width: 60%
    }