* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgb(227, 242, 255);
    color: rgb(32, 0, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 12%;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(199, 224, 248), #bfbbf3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px 0;
    }
    
    .titulo_apresentaçao_trabalho{jjjh
    font-size: 35px;
    }
    
    .imagem-pimenta{
    width: 30px}